body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#travelDate #countryInput #city {
    width: 300px; /* added to make sure that the placeholder comments fit ok*/
}

.holder{

}

.summary-box{
    background: rgba(59, 74, 107, .4);
    flex: 1; /* Makes the summary box take same space as the input column */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 300px; /* Ensures the summary box has a minimum width */
}

#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {
    font-size: 36px;
    text-align: center;
    margin: 10px auto; /* Reduced the margin to decrease the space */
    padding-bottom: 20px;
    line-height: 1; /* Set line-height to match the font size */
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 300px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}

/* Container for the two columns */
.container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 20px;
}

/* Input column styling */
.input-column {
  flex: 1;
  margin-right: auto; /* Pushes the input column to the left */
}

textarea.myInput {
  width: 100%; /* Makes the textarea take the full width of the input-column */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

